/* main tags */
p{
    color: royalblue;
    font-size: 20px;
}
span{


    color: rgb(151, 151, 15);
}
/* ids */
#hhr{
    border: blue solid;
    color: rgb(0, 255, 115);
}
/* hoovers */
p:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
    right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span:hover{
    color: rgb(255, 153, 0);
    border: solid rgb(148, 138, 138);
}