/* main tags */
p{
    color: royalblue;
    font-size: 20px;
}
span{


    color: rgb(151, 151, 15);
}
/* ids */
#hhr{
    border: blue solid;
    color: rgb(0, 255, 115);
}
/* hoovers */
p:hover{
    position: relative;
    right: 20px;
}
span:hover{
    color: rgb(255, 153, 0);
    border: solid rgb(148, 138, 138);
}